body{
    background-color: #F38181;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.demo{
    text-align: center;
    width: 80%;
    background-color: #FCE38A;
    padding: 50px 80px;
    border: 1px transparent;
    border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -ms-border-radius: 0px 0px 20px 20px;
    -o-border-radius: 0px 0px 20px 20px;
}

h1{
    font-size: 80px;
    font-weight: bold;
}

p{
    font-size: 30px;
    font-weight: bold;
}

#btn{
    margin-top: 20px;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #F38181;
    border: 1px transparent;
    border-radius: 0px 15px 15px 15px;
    -webkit-border-radius: 0px 15px 15px 15px;
    -moz-border-radius: 0px 15px 15px 15px;
    -ms-border-radius: 0px 15px 15px 15px;
    -o-border-radius: 0px 15px 15px 15px;
    cursor: pointer;
}

#quotes{
    margin-top: 40px;
    font-size: 24px;
    padding-bottom: 30px;
}